@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

::root {
  --clr-sea-salt: #f6f7f8;
  --clr-light-blue: #a1cdf4;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #f6f7f8;
}
a {
  color: black;
  text-decoration: none;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
